body {
    background-image: url(/img/texture.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #101115;
}

.principal{

    height: 40em;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.header {
    
    /* background: url(/img/) no-repeat center; */
    background-size: cover;
    /* min-height: 100vh; */
    

    
    
}

.collapse navbar-collapse{

    color: red;
}

.header .navbar {
    background-color: transparent !important;
    color: white;
}

#logoHeader{

    height: 3em;
    width: 6em;

}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-family: "montserrat";
}

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.55);
    border-color: rgb(255, 255, 255);
    background-color: white;
}





.textoMusica{
    font-family: "nova";
    font-size: 11em;
    color:transparent;
    -webkit-text-stroke: 2px white;
    
}

.imagenes{

    height: 20em;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.imagen1{

    height: 20em;
    width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1;
}


.imagenPaellas{

    height: 25em;
    width: 40em;
    border-radius: 3px;
    box-shadow: 1em 2em 3em black;
    display: flex;

}

.imagen2{

    height: 25em;
    width: 40em;
    border-radius: 3px;
    box-shadow: 1em 2em 3em black;
    display: flex;

}

.imagenXme{

    height: 25em;
    width: 40em;
    border-radius: 3px;
    box-shadow: 1em 2em 3em black;
    display: flex;
    

}

.listas{

    height: 20em;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 25em;
}

.lista1{

    height: 20em;
    width: auto;
    display: flex;
    margin: 1em;
}

.lista2{

    height: 20em;
    width: auto;
    display: flex;
    margin: 1em;
    

}

.lista3{

    height: 20em;
    width: auto;
    display: flex;
    margin: 1em;

}

@media (min-width: 320px){

    .textoMusica{
        height: 1em;
        width: auto;
        position: fixed;
        left: -110px;
        transform: rotate(0.75turn);
        
    }
    
    .imagen1{

        height: 20em;
        display: flex;
        justify-content: center;
        position: relative;
        top: 5em;
        flex-wrap: wrap;
        z-index: 1;
        width: auto;

    }

    .imagen2{


        height: 20em;
        display: flex;
        justify-content: center;
        position: relative;
        top: 12em;
        flex-wrap: wrap;
        z-index: 0;
        width: auto;

    
    
    }

    .listas{

        position: relative;
        top: 40em;
    }
    



}


@media (min-width: 768px){

    .listas{

        position: relative;
        top: 40em;
    }
    
}

@media (min-width: 1024px){

    .listas{

        position: relative;
        top: 40em;
    }
}