body {
    background-image: url(/img/FONDO\ WEB.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #101115;
}

.principal{

    height: 33em;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.header {
    
    /* background: url(/img/) no-repeat center; */
    background-size: cover;
    /* min-height: 100vh; */
    

    
    
}

.collapse navbar-collapse{

    color: red;
}

.header .navbar {
    background-color: transparent !important;
    color: white;
}

#logoHeader{

    height: 3em;
    width: 6em;

}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.55);
    border-color: rgb(255, 255, 255);
    background-color: white;
}


.logo {
    
    height: 22em;
    width: 40em;
    position: relative;
    top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.iconosRedes{
    
    height: 20em;
    width: 20em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 3em;
}

.size{

    height: 6em;
    width: 6em;

}

.size{

    height: 6em;
    width: 6em;
}


